In [1]:
import numpy as np

In [2]:
z=np.array([1,2,3,4,5,6,7,8])

In [3]:
z.ndim

1

In [4]:
z.dtype

dtype('int32')

In [5]:
z.size

8

In [6]:
z1=np.arange(64).reshape(8,8)

In [7]:
z2=np.arange(64).reshape(8,8,)

#

In [8]:
z1

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [9]:
z2

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [10]:
np.vstack((z1,z2))

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63],
       [ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [11]:
np.hstack((z1,z2))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15,  8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23, 16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31, 24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55, 48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63, 56, 57, 58, 59, 60, 61, 62, 63]])

In [12]:
z=np.ones((4,4) , dtype=int)

In [13]:
z

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [14]:
z[1:-1,1:-1]=0

In [15]:
z

array([[1, 1, 1, 1],
       [1, 0, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 1, 1]])

In [16]:
z1=np.ones((4,4) , dtype=int)

In [17]:
z1

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [18]:
z1[0:4:1,0:4:1]=0

In [19]:
z1

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [20]:
z2=np.zeros((4,4))

In [21]:
z2

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [22]:
np.concatenate((z1,z2) , axis=1)

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])

In [23]:
names=['ALI', 'AYESHA' , 'AHMAD' ,'NOOR' , 'NOOR' ,'AYESHA'  , 'NIMRA']

In [24]:
z=np.array(names)

In [25]:
z

array(['ALI', 'AYESHA', 'AHMAD', 'NOOR', 'NOOR', 'AYESHA', 'NIMRA'],
      dtype='<U6')

In [26]:
np.where(z=='AYESHA' , 'HIRA' , 'MAHNOOR')

array(['MAHNOOR', 'HIRA', 'MAHNOOR', 'MAHNOOR', 'MAHNOOR', 'HIRA',
       'MAHNOOR'], dtype='<U7')

In [27]:
z.sum

In [31]:
my_list=list(range(1000))
%time for x in range(10):[ x*2  for x in my_list]

Wall time: 1 ms

In [34]:
list=np.arange(1000)
%time for list in range(10):
   list=list*2

IndentationError: unexpected indent (<ipython-input-34-fc214ab029d9>, line 3)

In [36]:
x=['1' , '2' , '3' , '4' , '5']
x1=np.array(x)
x1.astype(np.int32)

array([1, 2, 3, 4, 5])