In [38]:
import pandas as pd
import numpy as np

CREATING OF SERIES:
SCALER VALUE
PYTHON DICT
PYTHON LIST

In [39]:
pd.Series(2)

0    2
dtype: int64

In [40]:
pd.Series([1,2,3,4,5,6,7])

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [41]:
x=pd.Series([1,2,3,4,5,6,7,8] , index=['a','b','c','d' , 'e' , 'f' , 'g' ,'h'])

In [42]:
x

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [43]:
x[('a')]

1

In [44]:
x1=pd.Series({'Ali' : 2000,
          'Ahmad' : 3000,
          'Noor' : 4000})

In [45]:
x1

Ali      2000
Ahmad    3000
Noor     4000
dtype: int64

In [46]:
x3=pd.Series([1,2,3,4,5,6] , index=[6,7,8,9,10,11])

In [47]:
x3

6     1
7     2
8     3
9     4
10    5
11    6
dtype: int64

In [48]:
x3.iloc[(4)]     #index loction access forcefully

5

In [49]:
x3.loc[(9)]     #lable location access

4

In [50]:
len(x3)

6

In [51]:
x3.size    #size and len attribute perform same function like to count element

6

In [52]:
x3.count()

6

In [57]:
x4=pd.Series([1,2,2,3,4,5,7,3,4,5,6,np.nan])

In [58]:
x4

0     1.0
1     2.0
2     2.0
3     3.0
4     4.0
5     5.0
6     7.0
7     3.0
8     4.0
9     5.0
10    6.0
11    NaN
dtype: float64

In [59]:
x4.count()  #count function agnore the missing value

11

In [62]:
x4.value_counts()

5.0    2
4.0    2
3.0    2
2.0    2
6.0    1
7.0    1
1.0    1
dtype: int64

In [64]:
x5=x4.unique()

In [65]:
x5.astype(np.int32)

array([          1,           2,           3,           4,           5,
                 7,           6, -2147483648])

In [67]:
x4.index

RangeIndex(start=0, stop=12, step=1)

In [69]:
x4.values

array([ 1.,  2.,  2.,  3.,  4.,  5.,  7.,  3.,  4.,  5.,  6., nan])

In [70]:
x4.head()  #to give first five values by default

0    1.0
1    2.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [74]:
x4.head(n=3)   #it you want value less or greater to pass arguments as a paremeter

0    1.0
1    2.0
2    2.0
dtype: float64

In [75]:
x4.tail()   #last five digits but not inverse

7     3.0
8     4.0
9     5.0
10    6.0
11    NaN
dtype: float64

In [76]:
x4.tail(n=3)

9     5.0
10    6.0
11    NaN
dtype: float64

In [79]:
x4.take([3,6,9])  #Random Value Access

3    3.0
6    7.0
9    5.0
dtype: float64

In [80]:
x5=pd.Series([1,2,3,4,5,6,7,8] , index=['a', 'b' , 'c' , 'd' ,'a' , 'b' ,'c' , 'h'])

In [81]:
x5

a    1
b    2
c    3
d    4
a    5
b    6
c    7
h    8
dtype: int64

In [82]:
x6=pd.Series([1,2,3,4,5,6,7,8] , index=['h' , 'g' , 'a' , 'b' ,'c' , 'd' , 'e', 'f'])

In [83]:
x6

h    1
g    2
a    3
b    4
c    5
d    6
e    7
f    8
dtype: int64

In [84]:
x5+x6

a     4.0
a     8.0
b     6.0
b    10.0
c     8.0
c    12.0
d    10.0
e     NaN
f     NaN
g     NaN
h     9.0
dtype: float64

In [86]:
x7=x5-x6

In [109]:
x7

a   -2.0
a    2.0
b   -2.0
b    2.0
c   -2.0
c    2.0
d   -2.0
e    NaN
f    NaN
g    NaN
h    7.0
dtype: float64

In [110]:
x7.sum()

5.0

In [111]:
x7>0

a    False
a     True
b    False
b     True
c    False
c     True
d    False
e    False
f    False
g    False
h     True
dtype: bool

In [112]:
x7[x7>0]

a    2.0
b    2.0
c    2.0
h    7.0
dtype: float64

In [93]:
x8=pd.Series(np.arange(8) , index=['h' , 'g' , 'a' , 'b' ,'c' , 'd' , 'e', 'f'])

In [94]:
x8

h    0
g    1
a    2
b    3
c    4
d    5
e    6
f    7
dtype: int32

In [95]:
x9=pd.Series(np.arange(8) , index=['m' , 'n' ,'o' , 'p' , 'q' , 'r' , 's' , 't'])

In [96]:
x9

m    0
n    1
o    2
p    3
q    4
r    5
s    6
t    7
dtype: int32

In [98]:
x8+x9      #nan+number=nan  , number+nan=nan

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
m   NaN
n   NaN
o   NaN
p   NaN
q   NaN
r   NaN
s   NaN
t   NaN
dtype: float64

In [99]:
x1

Ali      2000
Ahmad    3000
Noor     4000
dtype: int64

In [100]:
x4

0     1.0
1     2.0
2     2.0
3     3.0
4     4.0
5     5.0
6     7.0
7     3.0
8     4.0
9     5.0
10    6.0
11    NaN
dtype: float64

In [101]:
x4.mean()

3.8181818181818183

In [104]:
x4.mean(skipna=True)  #skipna=true means to skipna

3.8181818181818183

In [105]:
x4.mean(skipna=False)

nan

In [113]:
x7.all()

True

In [114]:
x7.any()

True